:root {
    --xlarge: 170px;
    --large: 28px;
    --medium: 18px;
    --small: 16px;
    --xsmall: 14px;
}
body {
    margin: 0 auto;
    width: 100%;
    background-image: url("https://source.unsplash.com/user/hbin12212/likes");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Noto Sans KR", sans-serif;
}

/* 메인 */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.main-container .main-wrapper {
    text-align: center;
    position: fixed;
}

/* 날짜&시계 */
.main-wrapper .date {
    color: white;
    font-size: var(--large);
    text-align: center;
    font-weight: 400;
}
.main-wrapper .time {
    color: white;
    font-size: var(--xlarge);
    margin-top: -35px;
    margin-bottom: 25px;
    font-weight: 400;
}

/* 검색 */
.main-wrapper .search {
    display: flex;
    justify-content: center;
}
.main-wrapper #search-input {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: var(--medium);
    padding: 15px 0px;
    border-radius: 30px;
    border: 0px;
    width: 600px;
    text-align: center;
    margin-top: -15px;
}
.main-wrapper #search-input::placeholder {
    color: rgb(189, 189, 189);
    font-size: var(--medium);
}

/* 명언 */
.quote {
    color: white;
    font-size: var(--small);
    position: fixed;
    bottom: 0;
    max-width: 800px;
    padding: 0 10px;
    margin-bottom: 20px;
    font-weight: 300;
    word-wrap: keep-all;
}

/* 북마크 */
.bookmark-open {
    width: 240px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 15px 30px;
    color: white;
    display: flex;
    justify-content: flex-end;
    font-size: var(--xsmall);
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}
.bookmark-close {
    width: 240px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 15px 30px;
    color: white;
    display: flex;
    justify-content: flex-end;
    font-size: var(--xsmall);
    height: 20px;
}

.bookmark-open div {
    cursor: pointer;
}
.bookmark-close div {
    cursor: pointer;
}

.bookmark-bar {
    width: 240px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50px;
    right: 0px;
    min-height: calc(100vh - 70px);
    padding: 10px 30px;
    color: white;
}

.bookmark-item-add-btn {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border: rgba(241, 241, 241, 0.2) 0.5px solid;
    font-size: var(--small);
    cursor: pointer;
    margin-bottom: 35px;
}
.bookmark-item-add-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* 북마크 추가 */
.bookmark-item-input-form {
    background-color: rgba(255, 255, 255, 0.1);
    border: rgba(241, 241, 241, 0.2) 0.5px solid;
    font-size: var(--small);
    border-radius: 5px;
    padding: 12px 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bookmark-item-input-form .bookmark-input {
    margin-bottom: 12px;
}

.bookmark-item-input-form .bookmark-input .new-url-name {
    margin-bottom: 12px;
    width: 100%;
}

.bookmark-item-input-form .bookmark-input .label {
    margin-bottom: 3px;
    font-size: var(--xsmall);
}

.bookmark-item-input-form .bookmark-input input {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
}
.bookmark-item-input-form .bookmark-item-input-btn {
    display: flex;
    justify-content: space-between;
    font-size: var(--xsmall);
    margin-top: 5px;
}
.bookmark-item-input-btn div {
    padding: 5px 35px;
    border-radius: 5px;
    border: rgba(241, 241, 241, 0.2) 0.5px solid;
    cursor: pointer;
}

.bookmark-item-input-btn div:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* 북마크 리스트 */
.bookmark-list a {
    display: flex;
    color: white;
    text-decoration: none;
}

.bookmark-list .url-icon {
    margin-right: 8px;
}

.url-icon img {
    vertical-align: middle;
}

/* 북마크 아이템 */
.bookmark-list .bookmark-item {
    background-color: rgba(255, 255, 255, 0.1);
    border: rgba(241, 241, 241, 0.2) 0.5px solid;
    font-size: var(--small);
    border-radius: 5px;
    padding: 15px 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookmark-item .del-btn {
    display: flex;
    font-size: var(--xsmall);
    color: lightgray;
    vertical-align: middle;
    cursor: pointer;
    font-size: 8px;
}
